/* Main Navigation */
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    background-color: #072B46;
    z-index: 9999;

    // transition: all 255ms ease-in-out;

    /* sticky is for when the scrolling happens. */
    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: $third;

        a.logo {
            padding-top: 0;
            padding-bottom: 0;
        }

        nav ul li a {
            font-size: 75%;
        }
    }

    & > .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        // transition: all 255ms ease-in-out;
   
    }

    a.logo {
        text-decoration: none;
        color: $light;
        display: inline-block;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-right: 1rem;
        font-size: 1rem;
        line-height: inherit;
        white-space: nowrap;
        width: 180px;
    }

    .hamBurgerWrap {
        width: 74px;
        font-size: 12px;
        padding: 10px 10px;
        text-transform: uppercase;
        color: $light;
        border: 0;
        background-color: $primary;
        border-radius: 6px;
        cursor: pointer;
        overflow: hidden;
        user-select: none;
        display: none;

        @media #{$miniDesktop} {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    /* Hamburger Icon */
    #nav-icon {
        width: 14px;
        height: 13px;
        position: relative;
        float: right;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;

        span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: $light;
            border: none;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);

            // transition: 255ms ease-in-out;

            &:nth-child(1) {
                top: 0px;
            }

            &:nth-child(2),
            &:nth-child(3) {
                top: 5px;
            }

            &:nth-child(4) {
                top: 10px;
            }
        }

        &.open span {
            // background-color: $gray-800;

            &:nth-child(1) {
                top: 5px;
                width: 0%;
                left: 50%;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                top: 5px;
                width: 0%;
                left: 50%;
            }
        }
    }

    /* This is the nav container */
    nav {
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            list-style: none;
            flex-direction: row;

            li {
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration: none;
                    font-size: 0.8em;
                    font-weight: 600;
                    padding: 0.75em 0;
                    text-transform: uppercase;
                    padding: 1.1em 0;
                    margin: 0 0.8em;
                    color: $light;
                    position: relative;

                    &.signInBtn{
                        background-color: transparent;
                        border-color: $gray-400;
                    }

                    &.last {
                        margin-right: 0;
                    }

                    &.active,
                    &:hover {
                        color: $secondary;

                        &:before, &:after {
                            opacity: 1;
                        }

                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
        }

        @media #{$miniDesktop} {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            transform-origin: top;
            transform: scale(1, 0);
            transition: transform 400ms ease-in-out;
            background-color: $primary;

            ul {
                display: flex;
                flex-direction: column;
                width: 100%;

                li {
                    background-color: #072d4a;

                    a {
                        display: block;
                        padding: 15px;
                        border-bottom: 0.5px solid $primary;
                        width: 100%;
                        opacity: 0;
                        transition: opacity 150ms ease-in-out;

                        &.active,
                        &:hover {
                            &:before, &:after {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .navToggle {
        display: none;
    }

    .navToggle:checked ~ nav {
        transform: scale(1, 1);

        a {
            opacity: 1;
            transition: opacity 250ms ease-in-out 250ms;
        }
    }
}
